# Importing Libraries

In [3]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import os
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from bs4 import BeautifulSoup
from textblob import TextBlob
import nltk
from nltk.corpus import stopwords
from wordcloud import WordCloud

# Importing Datasets

The Kaggle competition provides a training dataset and a testing dataset to use. The datasets are made of real tweets, and will require pre-processing steps before any training step.

In [4]:
# Import Train Test set
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

# EDA

Printing Unique Keywords

In [6]:
keywords = set(train['keyword'].tolist())
print(keywords)

{nan, 'armageddon', 'fatalities', 'burning', 'derailed', 'cyclone', 'smoke', 'hijacking', 'snowstorm', 'demolition', 'collide', 'demolish', 'hazard', 'sunk', 'evacuated', 'mudslide', 'body%20bagging', 'hijacker', 'death', 'lightning', 'panicking', 'burned', 'destruction', 'rescued', 'harm', 'body%20bags', 'attack', 'destroy', 'army', 'electrocuted', 'meltdown', 'quarantined', 'flooding', 'landslide', 'bioterrorism', 'screamed', 'fatality', 'forest%20fires', 'mass%20murder', 'cliff%20fall', 'casualties', 'aftershock', 'inundated', 'stretcher', 'terrorism', 'structural%20failure', 'first%20responders', 'drowning', 'burning%20buildings', 'detonation', 'bush%20fires', 'drown', 'hazardous', 'hostages', 'refugees', 'weapons', 'exploded', 'ablaze', 'injury', 'survive', 'suicide%20bomber', 'apocalypse', 'bloody', 'destroyed', 'displaced', 'rescue', 'deluge', 'emergency%20services', 'crush', 'hurricane', 'demolished', 'panic', 'obliteration', 'catastrophic', 'mass%20murderer', 'trauma', 'survivors', 'flattened', 'rioting', 'flames', 'screaming', 'police', 'catastrophe', 'buildings%20burning', 'detonate', 'devastation', 'buildings%20on%20fire', 'emergency%20plan', 'explosion', 'screams', 'flood', 'deaths', 'disaster', 'obliterate', 'military', 'radiation%20emergency', 'collapse', 'wounded', 'bombed', 'volcano', 'bombing', 'blew%20up', 'seismic', 'wreck', 'violent%20storm', 'rubble', 'devastated', 'wounds', 'typhoon', 'arson', 'nuclear%20disaster', 'trouble', 'casualty', 'war%20zone', 'drowned', 'hellfire', 'blight', 'injured', 'arsonist', 'battle', 'inundation', 'rainstorm', 'deluged', 'twister', 'collapsed', 'injuries', 'blizzard', 'mayhem', 'ruin', 'tsunami', 'trapped', 'storm', 'body%20bag', 'earthquake', 'pandemonium', 'hostage', 'loud%20bang', 'bioterror', 'sinkhole', 'derailment', 'outbreak', 'famine', 'curfew', 'derail', 'sandstorm', 'chemical%20emergency', 'rescuers', 'fatal', 'desolate', 'crash', 'massacre', 'explode', 'survived', 'heat%20wave', 'sinking', 'bleeding', 'emergency', 'fear', 'hailstorm', 'attacked', 'blaze', 'danger', 'obliterated', 'dust%20storm', 'nuclear%20reactor', 'fire', 'hail', 'quarantine', 'crushed', 'fire%20truck', 'tornado', 'wrecked', 'collided', 'wild%20fires', 'annihilated', 'evacuate', 'tragedy', 'razed', 'ambulance', 'eyewitness', 'blown%20up', 'lava', 'riot', 'debris', 'traumatised', 'oil%20spill', 'bomb', 'evacuation', 'wildfire', 'forest%20fire', 'crashed', 'suicide%20bomb', 'drought', 'floods', 'avalanche', 'natural%20disaster', 'suicide%20bombing', 'threat', 'siren', 'hijack', 'bridge%20collapse', 'sirens', 'wreckage', 'damage', 'upheaval', 'epicentre', 'terrorist', 'collision', 'accident', 'blood', 'thunderstorm', 'airplane%20accident', 'thunder', 'whirlwind', 'dead', 'engulfed', 'weapon', 'windstorm', 'annihilation', 'blazing', 'desolation', 'electrocute'}

Dataset info

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB