# Import Dependncies

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt

# Task1: Solving A Problem using RNNs

A Recurrent Neural Network (RNN) is a neural network that can be used when your data is treated as a sequence, where the particular order of the data-points matter. For this task, I will pick a problem to solve with a time series dataset, then implement an RNN to solve it. 

The problem I will do it predicting future stock prices using RNN. I will use The Alphabet Inc stock price dataset (GOOG) and train a model on years of data, then predict the stock price for a certain time frame and see how well the RNN can model the behaviour of the stock price. 

[Dataset Source](https://finance.yahoo.com/quote/GOOG/history)

# EDA and Preprocessing

First we'll conduct some basic EDA and preprocessing steps. There's not many features to the dataset, but some of them are irrelevant.

In [6]:
data = pd.read_csv("GOOG.csv", date_parser=True)

In [7]:
data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
1  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
2  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
3  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512
4  2004-08-26  2.613952  2.688672  2.606729  2.687676   2.687676  142572401

In [8]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4555,2022-09-23,100.059998,100.110001,98.010002,99.169998,99.169998,25645100
4556,2022-09-26,98.610001,100.440002,98.379997,98.809998,98.809998,22437900
4557,2022-09-27,99.910004,100.459999,97.339996,98.089996,98.089996,24225000
4558,2022-09-28,98.019997,101.400002,97.800003,100.739998,100.739998,24617000
4559,2022-09-29,99.300003,99.300003,96.519997,98.089996,98.089996,21921500

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4560 non-null   object
 1   Open       4560 non-null   float64
 2   High       4560 non-null   float64
 3   Low        4560 non-null   float64
 4   Close      4560 non-null   float64
 5   Adj Close  4560 non-null   float64
 6   Volume     4560 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 249.5+ KB

In [10]:
data[data['Date']<'2019-01-01']

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
1,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
2,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
3,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
4,2004-08-26,2.613952,2.688672,2.606729,2.687676,2.687676,142572401
...,...,...,...,...,...,...,...
3611,2018-12-24,48.695000,50.176998,48.505501,48.811001,48.811001,31806000
3612,2018-12-26,49.450500,52.000000,49.150002,51.973000,51.973000,47466000
3613,2018-12-27,50.857498,52.194500,49.849998,52.194000,52.194000,42196000
3614,2018-12-28,52.480999,52.778000,51.654999,51.854000,51.854000,28296000
3615,2018-12-31,52.548000,52.634998,51.179501,51.780499,51.780499,29866000